# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of `JOIN` statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
* Write SQL queries that make use of various types of joins
* Compare and contrast the various types of joins
* Discuss how primary and foreign keys are used in SQL
* Decide and perform whichever type of join is best for retrieving desired data

## CRM Schema

In almost all cases, rather than just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins** using shared columns from the two tables. 

In this lab, you'll use the same customer relationship management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [3]:
#Your code here
cur.execute("""select firstName, lastName from employees e
               join offices o on e.officeCode = o.officeCode""").fetchall()

[('Diane', 'Murphy'),
 ('Mary', 'Patterson'),
 ('Jeff', 'Firrelli'),
 ('William', 'Patterson'),
 ('Gerard', 'Bondur'),
 ('Anthony', 'Bow'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Thompson'),
 ('Julie', 'Firrelli'),
 ('Steve', 'Patterson'),
 ('Foon Yue', 'Tseng'),
 ('George', 'Vanauf'),
 ('Loui', 'Bondur'),
 ('Gerard', 'Hernandez'),
 ('Pamela', 'Castillo'),
 ('Larry', 'Bott'),
 ('Barry', 'Jones'),
 ('Andy', 'Fixter'),
 ('Peter', 'Marsh'),
 ('Tom', 'King'),
 ('Mami', 'Nishi'),
 ('Yoshimi', 'Kato'),
 ('Martin', 'Gerard')]

## Are there any offices that have zero employees?
Hint: Combine the employees and offices tables and use a group by.

In [8]:
#Your code here
cur.execute("""select e.officeCode, count(*)
               from employees e
               join offices o on e.officeCode = o.officeCode
               group by 1""").fetchall()

[('1', 6), ('2', 2), ('3', 2), ('4', 5), ('5', 2), ('6', 4), ('7', 2)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary
# Example: Display the htmlDescription and employee's first and last name for each product that each employee has sold

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of every individual product that each employee has sold

In [10]:
# Your code here
#selecting c.salesRepEmployeeNumber, p.productName from 
cur.execute("""select c.salesRepEmployeeNumber, p.productName
               from customers c
               join orders o on c.customerNumber = o.customerNumber
               join orderdetails od on o.orderNumber = od.orderNumber
               join products p on od.productCode = p.productCode
               group by 1""").fetchall()

[('1165', '1958 Setra Bus'),
 ('1166', '1917 Grand Touring Sedan'),
 ('1188', '1952 Alpine Renault 1300'),
 ('1216', '2001 Ferrari Enzo'),
 ('1286', '2001 Ferrari Enzo'),
 ('1323', '1969 Harley Davidson Ultimate Chopper'),
 ('1337', '1952 Alpine Renault 1300'),
 ('1370', '1965 Aston Martin DB5'),
 ('1401', '1972 Alfa Romeo GTA'),
 ('1501', '1972 Alfa Romeo GTA'),
 ('1504', '1952 Alpine Renault 1300'),
 ('1611', '1996 Moto Guzzi 1100i'),
 ('1612', '1962 LanciaA Delta 16V'),
 ('1621', '2001 Ferrari Enzo'),
 ('1702', 'The Titanic')]

## Level Up: Display the Number of Products each employee has sold

In [ ]:
# Your code here

## Summary

Congrats! You practiced using join statements and leveraged your foreign keys knowledge!